#aboutme-container {
    max-width: 1080px;
    justify-content: center;
    margin: auto;
}

.aboutme-content-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 246, 227);
    padding-bottom: 10px;
}

.aboutme-content-container * {
    color: rgb(26, 31, 39)!important;
}

#aboutme-img {
    height: auto;
    width: 220px;
    border-radius: 50%;
}

#aboutme-content-container {
    width: 840px;
}

.personalia-container * {
    color: rgb(245, 246, 227);
}


.vaardigheden-container *{
    color: rgb(26, 31, 39)!important;
}

#info-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.personalia-container {
    width: 100%;
    border-right: 2px solid rgb(245, 246, 227);
    background-color: rgb(32, 42, 50);
    padding: 10px 0px;
}

.vaardigheden-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 246, 227);
}

h2, h3, p, table {
    margin: 0px 20px 0px 20px;
}

td hr {
    width: 90px;
    height: 3px;
    background-color: rgb(26, 31, 39);
}

td {
    color: rgb(245, 246, 227);
}

tr th {
    font-size: 20px;
}

@media (max-width: 901px) {

}

