#contact-Form-Container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: rgba(11, 10, 10, 0.31);
}

#contact-Form-Container div h2 {
    margin: 20px 40px 0px 30px;
}

form {
  width: 100%;
}

#form-Input input {
  width: 300px;
}

form label {
  color: rgb(245, 246, 227);
}

#form-Input,
#form-Message {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 50px;
}

#contact-Form-Container label {
  margin-bottom: 2px;
  margin-top: 15px;
}

form input,
form textarea {
  border-radius: 5px;
  font-size: 16px;
  border: none;
  padding: 5px 0px 5px 10px;
  background-image: linear-gradient(to right, white, rgb(245, 246, 227));
}

form input:focus,
form textarea:focus {
  outline: 3px solid rgb(212, 175, 55);
}

#contact-Button-Container {
  display: flex;
  justify-content: center;
}

#contact-Button-Container button {
  margin: 20px 0px 20px 0px;
  background-color: rgb(212, 175, 55);
  color: rgb(26, 31, 39);
  font-size: 16px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
