.hf-container {
}

.hf-container nav {
}

.hf-container ul {
  display: flex;
  list-style-type: none;
}

.hf-container li {
}

.hf-container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}