.hf-container {
  display: flex;
  background-image: linear-gradient(to bottom, rgb(32, 42, 50), rgb(25, 31, 38));
  height: 100px;
  justify-content: space-evenly;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-button {
  background: none; 
  border: none;
  cursor: pointer;
  color: rgb(245, 246, 227);
  font-size: 18px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 100px 0px 100px;
}

.footer-nav-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  margin: 10px;
}

#footer-contact-gegevens-container {
  display: flex;
  flex-direction: column;
}

.hf-container img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.brand-name-container {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: rgb(245, 246, 227);
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  max-height: 300px;
}

footer p, footer h1 {
  padding: 0!important;
  margin-left: 20px;
  color: rgb(26, 31, 39);
}

footer img {
  width: 50px;
  height: auto;
}

footer hr {
  width: 500px;
  border-radius: 50%;
}

.footer-content-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.footer-content {
  padding: 15px;
  margin: auto;
  width: 33%;
}