/* Header animatie */
@keyframes headerdown {
  0% {
    margin-top: -100px;
  }

  50% {
    margin-top: -30px;
  }

  100% {
    margin-top: 0px;
  }
}

.hf-container.animate {
  margin-top: -100px;
  animation: headerdown 2s ease-in-out forwards;
  animation-delay: 4s;
}
/* Header animatie einde */

@keyframes content-fadein {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

#title-container.animate,
#intro-skills-container.animate,
.main-portfolio-container.animate,
.content-split.animate {
  animation: content-fadein 4s linear;
}

/* Splash screen begin */
.scroll-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;
  position: absolute;
  overflow: hidden;
}

  .scroll-img {
  width: auto;
  height: 100vh;
  }

@keyframes slideleft {
  0% {
    transform: translateX(-0px);
  }

  85% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(-400px);
  }
}

@keyframes slideright {
  0% {
    transform: translateX(0px);
  }

  85% {
    transform: translateX(600px);
  }

  100% {
    transform: translateX(400px);
  }
}

.scroll-img-container-left.animate {
  animation: slideleft 5s ease-in-out forwards;
  animation-delay: 1s;
}

.scroll-img-container-right.animate {
  animation: slideright 5s ease-in-out forwards;
  animation-delay: 1s;
}
/* Splash screen einde */



#index-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



/* De intro tekst */
#title-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgb(25, 31, 38), rgb(32, 40, 47));
  align-items: center;
}

#title-header2 {
  margin: 10px 20px 10px 20px;
  text-align: center;
  text-shadow: 0px 1px 1px black;
  font-size: 130px;
}

#title-header2 hr {
  width: 80%;
  height: 5px;
  background-color: rgb(245, 246, 227);
  border-radius: 50%;
}

#title-header3 {
  margin: 0px 30px 10px 30px;
  text-align: center;
  text-shadow: 0px 1px 1px black;
  font-size: 60px;
}

#test {
  color: linear-gradient(to right, white, rgb(245, 246, 227));
  width: 100vw;
}

#title-paragraph {
  color: rgb(245, 246, 227);
  margin: 10px 10% 0px 10%;
  text-align: center;
  text-shadow: 0px 1px 1px black;
}

#title-container-img {
  width: 400px;
  height: auto;
  border-radius: 50% 20% / 10% 40%;
  margin-top: 50px;
}
/* Intro tekst einde */


/* intro/portfolio/skills */
#intro-skills-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: linear-gradient(to right, white, rgb(245, 246, 227));
}

#intro-skills-container p {
  margin: 0px 10px 0px 10px;
}

#introduction-container,
#skills-container,
#portfolio-container {
  flex: 1;
}

#skills-container {
  display: flex;
  flex-direction: column;
}

#introduction-container h3, #portfolio-container h3, #skills-container h3 {
  color: rgb(25, 31, 38);
  text-align: center;
  font-size: 64px;
  margin: 10px;
}

.chart {
  width: 400px;
  height: auto;
  margin: auto;
}

.chart-text {
  font-family: "Lora", serif;
  font-size: 10px;
  text-anchor: middle;
  text-wrap: wrap;
}

.main-portfolio-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.portfolio-img-container img {
  height: auto;
  width: 200px;
}

.portfolio-img-container {
  display: flex;
  flex-direction: column;
}

.portfolio-img-container a {
  text-align: center;
}
/* intro/portfolio/skills einde */


/* Portfolio slider begin */
@keyframes scroll {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(calc(-270px * 4));
  }
}

.slider {
  position: relative;
}

.slide {
  margin-left: 20px;
  margin-right: 20px;
}

.slideimg {
  width: 230px;
}

.slide-track {
  animation: scroll 25s linear infinite;
  display: flex;
  width: calc(270px * 4);
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

/* Portfolio slider einde */



@media (max-width: 950px) {
  #intro-skills-container {
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    display: flex;
    margin: auto;
  }

  #intro-skills-container p {
    margin: 10px 20px;
  }

  h2 {
    font-size: 100px!important;
  }
  
  h3 {
    font-size: 60px!important;
  }
  
  p {
    font-size: 20px;
    text-align: center;
    margin: 0% 2% 0% 2% !important;
  }
  
  .footer-nav-button {
    font-size: 4vw;
  }
  
  .brand-name-container {
    display: none;
  }
  
}

@media (max-width: 1700px) {


}



