body {
  background-color: rgb(32, 42, 50);
  margin: 0;
  padding: 0;
}

/* div {
  border: 3px solid red;
} */

#header {
  background-color: rgb(26, 31, 39);
}

.logo-container {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
nav, table * {
  font-family: "Averia Sans Libre", sans-serif;
  color: rgb(212, 175, 55)!important;
  font-weight: 400;
}

p {
  font-family: "Lora", serif;
  color: rgb(10, 15, 13);
  padding: 10px;
  font-size: 18px;
}





  
