#contactgegevensh1{
    font-size: 40px;
    font-family: 'Sonsie One', system-ui;
}
.adres{
    font-size: 20px;
    font-family: 'Finger Paint', sans-serif;
}

#memeh1{
    font-size: 100px;
}

#memeimg{
    height: 100%;
    width: 100%;
}

.meme-container{
    border: solid black 100px;
    margin: 10px;
}

.memetext{
    border: solid black 25px;
    margin: 10px;
}
#memetext{
    font-size: 50px;
    margin: 10px;

}